name: 15 containers
run-name: ${{ github.actor }} Explaining containers - Try Number ${{ github.run_number }}

on: 
  workflow_dispatch

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Project
        run: php -v