name: Example 07 - Deployment
run-name: Example 07 - Deployment

on: 
  push:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 136.113.67.64 >> ~/.ssh/known_hosts
      
      - name: Deploy to Google Cloud
        run: ssh -o StrictHostKeyChecking=no al_rehab@136.113.67.64 "cd ~/cicdpractice && git pull origin main && composer install"